#left-ear, #right-ear {
  transition: all .25s linear;
}

.bear:hover #left-ear,
.bear:hover #right-ear {
  transform: translateY(10px);
}

#left-eye, #right-eye {
  animation: eyes-move 1s ease infinite alternate;
}

@keyframes eyes-move {

  0% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(10px);
  }

}
