#left-ear, #right-ear {
  transition: all .25s linear;
}

.bear:hover #left-ear,
.bear:hover #right-ear {
  transform: translateY(10px);
}

#left-eye, #right-eye {
  transition: all .25s linear;
}

.bear:hover #left-eye,
.bear:hover #right-eye {
  transform: translateX(10px);
}

@@keyframes eyes-move {
  0% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(10px);
  }
}
